#mm-color-container {
  position: fixed;
  top: 10px;
  left: 100px;
  font-style: "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  background-color: #333344;
}
#mm-color-container .mm-color-line {
  display: flex;
  margin: 5px;
}
#mm-color-container .mm-color-line .mm-color-view {
  width: 200px;
  height: 40px;
  border: 0;
  padding: 5px;
}
#mm-color-container .mm-color-line .mm-pointer {
  width: 40px;
  height: 40px;
  padding: 5px;
  text-align: left;
  line-height: 30px;
  font-size: 40px;
}
#mm-color-container .mm-color-line .mm-pointer:hover {
  cursor: pointer;
}
#mm-color-container .mm-color-line .mm-pointer[slider] {
  transform: rotateY(180deg);
}
#mm-color-container .mm-color-line .cp-container {
  padding: 5px;
  margin: 0px 20px;
}
#mm-color-container .mm-color-line .cp-container .cp-sliderbutton {
  top: 2px;
}
#mm-color-container .mm-color-line .cp-container .cp-slider {
  width: 200px;
  height: 30px;
}
#mm-color-edit-1 .mm-color-view {
  background-color: #336699;
}
#mm-color-edit-2 .mm-color-view {
  background-color: #669933;
}
#mm-color-edit-3 .mm-color-view {
  background-color: #993366;
}
