/* ----------------------------------------------------------------------------
 * mixins
 * ---------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------
 * main title
 * ---------------------------------------------------------------------------- */
#main-title-container {
  width: 720px;
  color: #ffffff;
  background-color: #222233;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 3px 0;
  padding: 3px 0 0 0;
}
#main-title-container .title-line {
  display: flex;
  margin: 3px 3px 3px 6px;
  margin: 3px 3px 0 6px;
}
#main-title-container .title-line .label {
  display: block;
  height: 30px;
  width: 357px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
  font-weight: bold;
}
#main-title-container .title-line .version {
  display: block;
  height: 30px;
  width: 327px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
  text-align: left;
}
#main-title-container .title-line .help {
  display: block;
  height: 30px;
  width: 27px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#main-title-container .title-line .help:hover {
  background-color: #86869b;
}
#main-title-container .title-line .help[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
/* ----------------------------------------------------------------------------
 * main menu
 * ---------------------------------------------------------------------------- */
#main-menu-container {
  width: 720px;
  color: #ffffff;
  background-color: #222233;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 3px 0;
}
#main-menu-container .menu-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#main-menu-container .menu-line .menu-button {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#main-menu-container .menu-line .menu-button:hover {
  background-color: #86869b;
}
#main-menu-container .menu-line .menu-button[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
/* ----------------------------------------------------------------------------
 * file menu
 * ---------------------------------------------------------------------------- */
#file-menu-container {
  width: 720px;
  color: #ffffff;
  background-color: #222233;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 3px 0;
}
#file-menu-container .title-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#file-menu-container .title-line .title {
  display: block;
  height: 30px;
  width: 717px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #000000;
  background-color: #ccccdd;
}
#file-menu-container .buttons-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#file-menu-container .buttons-line .button {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#file-menu-container .buttons-line .button:hover {
  background-color: #86869b;
}
#file-menu-container .buttons-line .button[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
/* ----------------------------------------------------------------------------
 * choose base color
 * ---------------------------------------------------------------------------- */
#base-menu-container {
  width: 720px;
  color: #ffffff;
  background-color: #222233;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 3px 0;
}
#base-menu-container .title-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#base-menu-container .title-line .title {
  display: block;
  height: 30px;
  width: 717px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #000000;
  background-color: #ccccdd;
}
#base-menu-container .buttons-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#base-menu-container .buttons-line .button {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#base-menu-container .buttons-line .button:hover {
  background-color: #86869b;
}
#base-menu-container .buttons-line .button[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
/* ----------------------------------------------------------------------------
 * choose brand color
 * ---------------------------------------------------------------------------- */
#brand-menu-container {
  width: 720px;
  color: #ffffff;
  background-color: #222233;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 3px 0;
}
#brand-menu-container .title-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#brand-menu-container .title-line .title {
  display: block;
  height: 30px;
  width: 717px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #000000;
  background-color: #ccccdd;
}
#brand-menu-container .buttons-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#brand-menu-container .buttons-line .button {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#brand-menu-container .buttons-line .button:hover {
  background-color: #86869b;
}
#brand-menu-container .buttons-line .button[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
/* ----------------------------------------------------------------------------
 * choose typography
 * ---------------------------------------------------------------------------- */
#typo-menu-container {
  width: 720px;
  color: #ffffff;
  background-color: #222233;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 3px 0;
}
#typo-menu-container .title-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#typo-menu-container .title-line .title {
  display: block;
  height: 30px;
  width: 717px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #000000;
  background-color: #ccccdd;
}
#typo-menu-container .choose-font-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#typo-menu-container .choose-font-line .label {
  display: block;
  height: 30px;
  width: 117px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#typo-menu-container .choose-font-line .button-base,
#typo-menu-container .choose-font-line .button-code {
  display: block;
  height: 30px;
  width: 237px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#typo-menu-container .choose-font-line .button-base:hover,
#typo-menu-container .choose-font-line .button-code:hover {
  background-color: #86869b;
}
#typo-menu-container .choose-font-line .button-base[clicked=true],
#typo-menu-container .choose-font-line .button-code[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#typo-menu-container .parameters-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#typo-menu-container .parameters-line .label-fs {
  display: block;
  height: 30px;
  width: 117px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#typo-menu-container .parameters-line .label-pd {
  display: block;
  height: 30px;
  width: 117px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#typo-menu-container .parameters-line .label-br {
  display: block;
  height: 30px;
  width: 117px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#typo-menu-container .parameters-line .info {
  display: block;
  height: 30px;
  width: 57px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
  text-align: left;
  font-weight: bold;
  background-color: #333344;
}
#typo-menu-container .parameters-line .button-fs,
#typo-menu-container .parameters-line .button-pd,
#typo-menu-container .parameters-line .button-br {
  display: block;
  height: 30px;
  width: 27px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#typo-menu-container .parameters-line .button-fs:hover,
#typo-menu-container .parameters-line .button-pd:hover,
#typo-menu-container .parameters-line .button-br:hover {
  background-color: #86869b;
}
#typo-menu-container .parameters-line .button-fs[clicked=true],
#typo-menu-container .parameters-line .button-pd[clicked=true],
#typo-menu-container .parameters-line .button-br[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#typo-menu-container .examples-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#typo-menu-container .examples-line .label {
  display: block;
  height: 30px;
  width: 117px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#typo-menu-container .examples-line div {
  width: 597px;
  border: solid 1px;
  margin: 3px;
}
#typo-menu-container .examples-line div span {
  border: none;
  outline: none;
}
#typo-menu-container .buttons-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#typo-menu-container .buttons-line .button {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#typo-menu-container .buttons-line .button:hover {
  background-color: #86869b;
}
#typo-menu-container .buttons-line .button[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
/* ----------------------------------------------------------------------------
 * choose font
 * ---------------------------------------------------------------------------- */
#choose-font-container {
  width: 720px;
  color: #ffffff;
  background-color: #222233;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 3px 0;
}
#choose-font-container .title-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#choose-font-container .title-line .title {
  display: block;
  height: 30px;
  width: 717px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .select-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#choose-font-container .select-line .label {
  display: block;
  height: 30px;
  width: 87px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#choose-font-container .select-line select {
  height: 30px;
  width: 267px;
  color: #ffffff;
  background-color: #555566;
  border: 1px solid;
  border-radius: 0;
  cursor: pointer;
}
#choose-font-container .family-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#choose-font-container .family-line .family {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#choose-font-container .family-line .family:hover {
  background-color: #86869b;
}
#choose-font-container .family-line .family[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .family-line .example {
  border: none;
  outline: none;
  font-size: 24px;
  line-height: 30px;
  padding: 0 6px;
}
#choose-font-container .paginator-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#choose-font-container .paginator-line .label {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#choose-font-container .paginator-line .button {
  display: block;
  height: 30px;
  width: 87px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#choose-font-container .paginator-line .button:hover {
  background-color: #86869b;
}
#choose-font-container .paginator-line .button[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .paginator-line .label-pp {
  display: block;
  height: 30px;
  width: 117px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#choose-font-container .paginator-line .button-pp {
  display: block;
  height: 30px;
  width: 27px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#choose-font-container .paginator-line .button-pp:hover {
  background-color: #86869b;
}
#choose-font-container .paginator-line .button-pp[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .example-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#choose-font-container .example-line .label {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#choose-font-container .example-line .label-sel {
  display: block;
  height: 30px;
  width: 267px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
  text-align: left;
  font-weight: bold;
  background-color: #333344;
}
#choose-font-container .example-line .button-bold,
#choose-font-container .example-line .button-italic {
  display: block;
  height: 30px;
  width: 42px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#choose-font-container .example-line .button-bold:hover,
#choose-font-container .example-line .button-italic:hover {
  background-color: #86869b;
}
#choose-font-container .example-line .button-bold[clicked=true],
#choose-font-container .example-line .button-italic[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .example-line .label-fs {
  display: block;
  height: 30px;
  width: 117px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#choose-font-container .example-line .button-fs {
  display: block;
  height: 30px;
  width: 27px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#choose-font-container .example-line .button-fs:hover {
  background-color: #86869b;
}
#choose-font-container .example-line .button-fs[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .example-line #example-edit {
  border: none;
  outline: none;
  padding: 0 6px;
  line-height: 1.2;
}
#choose-font-container .buttons-line {
  display: flex;
  margin: 3px 3px 3px 6px;
}
#choose-font-container .buttons-line .button {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  opacity: 1;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#choose-font-container .buttons-line .button:hover {
  background-color: #86869b;
}
#choose-font-container .buttons-line .button[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
