/* ----------------------------------------------------------------------------
 * mixins
 * ---------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------
 * fonts
 * ---------------------------------------------------------------------------- */
#choose-font-container {
  width: 720px;
  color: #ffffff;
  background-color: #333344;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  padding: 3px 0;
}
#choose-font-container .title-line {
  height: 30px;
  width: 714px;
  font-style: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 3px;
  border: 0;
  padding: 3px;
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .select-line {
  display: flex;
  margin: 3px;
}
#choose-font-container .select-line .label {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#choose-font-container .select-line select {
  height: 30px;
  width: 357px;
  color: #ffffff;
  background-color: #555566;
  border: 1px solid;
  border-radius: 0;
  cursor: pointer;
}
#choose-font-container .family-line {
  display: flex;
  margin: 3px;
}
#choose-font-container .family-line .family {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#choose-font-container .family-line .family:hover {
  background-color: #86869b;
}
#choose-font-container .family-line .family[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .family-line .example {
  border: none;
  outline: none;
  font-size: 24px;
  line-height: 30px;
  padding: 0 6px;
}
#choose-font-container .paginator-line {
  display: flex;
  margin: 3px;
}
#choose-font-container .paginator-line .label {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#choose-font-container .paginator-line .button {
  display: block;
  height: 30px;
  width: 87px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#choose-font-container .paginator-line .button:hover {
  background-color: #86869b;
}
#choose-font-container .paginator-line .button[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .paginator-line .label-pp {
  display: block;
  height: 30px;
  width: 117px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#choose-font-container .paginator-line .button-pp {
  display: block;
  height: 30px;
  width: 18px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#choose-font-container .paginator-line .button-pp:hover {
  background-color: #86869b;
}
#choose-font-container .paginator-line .button-pp[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .example-line {
  display: flex;
  margin: 3px;
}
#choose-font-container .example-line .label {
  display: block;
  height: 30px;
  width: 177px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#choose-font-container .example-line .label-sel {
  display: block;
  height: 30px;
  width: 267px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
  text-align: left;
  font-weight: bold;
}
#choose-font-container .example-line .button-bold,
#choose-font-container .example-line .button-italic {
  display: block;
  height: 30px;
  width: 42px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#choose-font-container .example-line .button-bold:hover,
#choose-font-container .example-line .button-italic:hover {
  background-color: #86869b;
}
#choose-font-container .example-line .button-bold[clicked=true],
#choose-font-container .example-line .button-italic[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .example-line .label-fs {
  display: block;
  height: 30px;
  width: 117px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: right;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px 6px;
}
#choose-font-container .example-line .button-fs {
  display: block;
  height: 30px;
  width: 18px;
  font-style: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
#choose-font-container .example-line .button-fs:hover {
  background-color: #86869b;
}
#choose-font-container .example-line .button-fs[clicked=true] {
  color: #000000;
  background-color: #ccccdd;
}
#choose-font-container .example-line #example-edit {
  border: none;
  outline: none;
  padding: 0 6px;
  line-height: 1.2;
}
