/* ----------------------------------------------------------------------------
 * main menu, draggable, displays in the middle of the page
 * ---------------------------------------------------------------------------- */
#mm-menu-main {
  position: fixed;
  top: 20px;
  left: 100px;
  font-style: "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bolder;
  text-align: center;
  color: #ffffff;
  background-color: #333344;
  margin: 0;
  border: 0;
  padding: 0;
  z-index: 1000;
}
#mm-menu-main ul {
  display: block;
  list-style-type: none;
  height: 33px;
  margin: 0;
  padding: 3px 0 0 3px;
}
#mm-menu-main ul li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0 3px 3px 0;
}
/* ----------------------------------------------------------------------------
 * buttons
 * ---------------------------------------------------------------------------- */
.mm-menu-title {
  display: block;
  height: 30px;
  width: 366px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}
.mm-menu-title:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: context-menu;
}
.mm-long-button {
  display: block;
  height: 30px;
  width: 120px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}
.mm-long-button:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: context-menu;
}
.mm-short-button {
  display: block;
  height: 30px;
  width: 30px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}
.mm-short-button:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: context-menu;
}
#mm-menu-drag {
  cursor: move;
}
#mm-menu-help {
  cursor: help;
}
#mm-menu-close {
  cursor: pointer;
}
/* ----------------------------------------------------------------------------
 * drop down menus
 * ---------------------------------------------------------------------------- */
#mm-menu-file-down {
  position: absolute;
  left: 0px;
  top: 33px;
  width: 126px;
  color: #ffffff;
  background-color: #333344;
  display: none;
}
#mm-menu-color-down {
  position: absolute;
  left: 123px;
  top: 33px;
  width: 126px;
  color: #ffffff;
  background-color: #333344;
  display: none;
  left: 0;
  width: 520px;
}
#mm-menu-color-down .mm-long-button {
  margin-top: 3px;
}
#mm-menu-font-down {
  position: absolute;
  left: 246px;
  top: 33px;
  width: 126px;
  color: #ffffff;
  background-color: #333344;
  display: none;
}
/* ----------------------------------------------------------------------------
 * color edit menu
 * ---------------------------------------------------------------------------- */
#mm-color-menu-container {
  color: #ffffff;
  background-color: #333344;
  font-weight: normal;
}
#mm-color-menu-container .mm-color-line {
  display: flex;
  margin: 3px;
}
#mm-color-menu-container .mm-color-line .mm-color-view {
  width: 200px;
  height: 30px;
  border: 0;
  padding: 3px;
}
#mm-color-menu-container .mm-color-line .mm-pointer {
  width: 30px;
  height: 30px;
  padding: 3px;
  text-align: left;
  line-height: 24px;
  font-size: 30px;
}
#mm-color-menu-container .mm-color-line .mm-pointer:hover {
  cursor: pointer;
}
#mm-color-menu-container .mm-color-line .mm-pointer[slider] {
  transform: rotateY(180deg);
}
#mm-color-menu-container .mm-color-line .cp-container {
  padding: 3px;
  margin: 0px 20px;
}
#mm-color-menu-container .mm-color-line .cp-container .cp-sliderbutton {
  height: 24px;
}
#mm-color-menu-container .mm-color-line .cp-container .cp-slider {
  width: 200px;
  height: 24px;
}
/* ----------------------------------------------------------------------------
 * page default
 * ---------------------------------------------------------------------------- */
#mm-content {
  margin: 20px;
  padding: 20px;
}
