/* ----------------------------------------------------------------------------
 * main menu, draggable, displays in the middle of the page
 * ---------------------------------------------------------------------------- */
#mm-menu-main {
  position: fixed;
  top: 2px;
  left: 2px;
  font-style: "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bolder;
  text-align: center;
  color: #ffffff;
  background-color: #333344;
  margin: 0;
  border: 0;
  padding: 0;
  z-index: 1000;
}
#mm-menu-main ul {
  display: block;
  list-style-type: none;
  height: 33px;
  margin: 0;
  padding: 3px 0 0 3px;
}
#mm-menu-main ul li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0 3px 3px 0;
}
/* ----------------------------------------------------------------------------
 * custom popup to show more info about color
 * ---------------------------------------------------------------------------- */
.mm-color-view-popup {
  position: fixed;
  width: 390px;
  font-style: "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  margin: 0;
  border: 3px solid;
  padding: 3px 6px;
  z-index: 1100;
}
.mm-color-view-popup:hover {
  cursor: pointer;
}
/* ----------------------------------------------------------------------------
 * custom popup to show more info about color
 * ---------------------------------------------------------------------------- */
.mm-help-popup {
  position: fixed;
  width: 390px;
  font-style: "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  color: #ffffff;
  background-color: #333344;
  margin: 0;
  border: 3px solid;
  padding: 3px 6px;
  z-index: 1100;
}
.mm-help-popup:hover {
  cursor: pointer;
}
/* ----------------------------------------------------------------------------
 * buttons
 * ---------------------------------------------------------------------------- */
.mm-menu-title {
  display: block;
  height: 30px;
  width: 468px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  background-color: #333344;
  cursor: move;
}
.mm-menu-title:hover {
  background-color: #86869b;
}
.mm-menu-help {
  display: block;
  height: 30px;
  width: 18px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: help;
}
.mm-menu-help:hover {
  background-color: #86869b;
}
.mm-long-button {
  display: block;
  height: 30px;
  width: 120px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}
.mm-long-button:hover {
  background-color: #86869b;
}
.mm-long-button:hover {
  cursor: context-menu;
}
.mm-short-button {
  display: block;
  height: 30px;
  width: 18px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}
.mm-short-button:hover {
  background-color: #86869b;
}
.mm-button-minus,
.mm-button-plus {
  display: block;
  height: 30px;
  width: 18px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  height: 24px;
  line-height: 18px;
  margin: 0;
  border: 1px solid #ffffff;
  padding: 3px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.mm-button-minus:hover,
.mm-button-plus:hover {
  background-color: #86869b;
}
/* ----------------------------------------------------------------------------
 * drop down menus
 * ---------------------------------------------------------------------------- */
#mm-menu-file-down {
  position: absolute;
  left: 0;
  top: 33px;
  width: 567px;
  color: #ffffff;
  background-color: #333344;
  display: none;
}
#mm-menu-file-down .mm-down-title {
  color: #333344;
  background-color: #cccccc;
  border: 3px solid #333344;
  font-weight: bolder;
}
#mm-menu-file-down .mm-long-button {
  margin-top: 3px;
}
#mm-menu-color-down,
#mm-menu-brand-down {
  position: absolute;
  left: 0;
  top: 33px;
  width: 567px;
  color: #ffffff;
  background-color: #333344;
  display: none;
}
#mm-menu-color-down .mm-down-title,
#mm-menu-brand-down .mm-down-title {
  color: #333344;
  background-color: #cccccc;
  border: 3px solid #333344;
  font-weight: bolder;
}
#mm-menu-color-down .mm-long-button,
#mm-menu-brand-down .mm-long-button {
  margin-top: 3px;
}
#mm-menu-fonts-down {
  position: absolute;
  left: 0;
  top: 33px;
  width: 567px;
  color: #ffffff;
  background-color: #333344;
  display: none;
}
#mm-menu-fonts-down .mm-down-title {
  color: #333344;
  background-color: #cccccc;
  border: 3px solid #333344;
  font-weight: bolder;
}
#mm-menu-fonts-down .mm-long-button {
  margin-top: 3px;
}
/* ----------------------------------------------------------------------------
 * color and brand edit menu
 * ---------------------------------------------------------------------------- */
#mm-color-menu-container,
#mm-brand-menu-container {
  color: #ffffff;
  background-color: #333344;
  font-weight: normal;
  margin: 9px 6px 0 6px;
}
#mm-color-menu-container .mm-color-line,
#mm-brand-menu-container .mm-color-line {
  display: flex;
  margin: 3px;
}
#mm-color-menu-container .mm-color-line .mm-color-H,
#mm-brand-menu-container .mm-color-line .mm-color-H,
#mm-color-menu-container .mm-color-line .mm-color-S,
#mm-brand-menu-container .mm-color-line .mm-color-S,
#mm-color-menu-container .mm-color-line .mm-color-L,
#mm-brand-menu-container .mm-color-line .mm-color-L {
  display: block;
  height: 30px;
  width: 18px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bolder;
  margin: 0 3px 0 0;
  border: 0;
  padding: 3px;
}
#mm-color-menu-container .mm-color-line .mm-color-H:hover,
#mm-brand-menu-container .mm-color-line .mm-color-H:hover,
#mm-color-menu-container .mm-color-line .mm-color-S:hover,
#mm-brand-menu-container .mm-color-line .mm-color-S:hover,
#mm-color-menu-container .mm-color-line .mm-color-L:hover,
#mm-brand-menu-container .mm-color-line .mm-color-L:hover {
  background-color: #86869b;
}
#mm-color-menu-container .mm-color-line .mm-color-H:hover,
#mm-brand-menu-container .mm-color-line .mm-color-H:hover,
#mm-color-menu-container .mm-color-line .mm-color-S:hover,
#mm-brand-menu-container .mm-color-line .mm-color-S:hover,
#mm-color-menu-container .mm-color-line .mm-color-L:hover,
#mm-brand-menu-container .mm-color-line .mm-color-L:hover {
  background-color: #86869b;
  cursor: pointer;
}
#mm-color-menu-container .mm-color-line .mm-color-H[show-slider],
#mm-brand-menu-container .mm-color-line .mm-color-H[show-slider],
#mm-color-menu-container .mm-color-line .mm-color-S[show-slider],
#mm-brand-menu-container .mm-color-line .mm-color-S[show-slider],
#mm-color-menu-container .mm-color-line .mm-color-L[show-slider],
#mm-brand-menu-container .mm-color-line .mm-color-L[show-slider] {
  background-color: #ffffff;
  color: #000000;
}
#mm-color-menu-container .mm-color-line .mm-color-H[show-slider]:hover,
#mm-brand-menu-container .mm-color-line .mm-color-H[show-slider]:hover,
#mm-color-menu-container .mm-color-line .mm-color-S[show-slider]:hover,
#mm-brand-menu-container .mm-color-line .mm-color-S[show-slider]:hover,
#mm-color-menu-container .mm-color-line .mm-color-L[show-slider]:hover,
#mm-brand-menu-container .mm-color-line .mm-color-L[show-slider]:hover {
  background-color: #cccccc;
}
#mm-color-menu-container .mm-color-line .mm-color-view,
#mm-brand-menu-container .mm-color-line .mm-color-view {
  width: 180px;
  height: 30px;
  border: 0;
  padding: 3px;
}
#mm-color-menu-container .mm-color-line .mm-color-view:hover,
#mm-brand-menu-container .mm-color-line .mm-color-view:hover {
  cursor: pointer;
}
#mm-color-menu-container .mm-color-line .cp-container,
#mm-brand-menu-container .mm-color-line .cp-container {
  width: 270px;
  padding: 3px;
  margin: 0px 18px;
}
#mm-color-menu-container .mm-color-line .cp-container .cp-slider,
#mm-brand-menu-container .mm-color-line .cp-container .cp-slider {
  height: 24px;
  margin: 0;
}
#mm-color-menu-container .mm-color-line .cp-container .cp-sliderbutton,
#mm-brand-menu-container .mm-color-line .cp-container .cp-sliderbutton {
  display: block;
  height: 30px;
  width: 18px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  height: 24px;
  line-height: 18px;
  margin: 0;
  border: 1px solid;
  padding: 3px;
}
#mm-color-menu-container .mm-color-line .cp-container .cp-sliderbutton:hover,
#mm-brand-menu-container .mm-color-line .cp-container .cp-sliderbutton:hover {
  background-color: #86869b;
}
#mm-color-menu-container .mm-color-line .cp-container .cp-sliderbutton-minus,
#mm-brand-menu-container .mm-color-line .cp-container .cp-sliderbutton-minus {
  left: -18px;
}
#mm-color-menu-container .mm-color-line .cp-container .cp-sliderbutton-plus,
#mm-brand-menu-container .mm-color-line .cp-container .cp-sliderbutton-plus {
  left: 18px;
}
/* ----------------------------------------------------------------------------
 * typography
 * ---------------------------------------------------------------------------- */
#mm-typography-menu-container {
  color: #ffffff;
  background-color: #333344;
  font-weight: normal;
  margin: 6px 3px 0 3px;
  padding: 3px;
}
#mm-typography-menu-container .mm-base {
  line-height: 1.428571429;
  text-align: left;
  margin: 6px;
  border: 1px solid #ffffff;
}
#mm-typography-menu-container .mm-small {
  line-height: 1.428571429;
  text-align: left;
  margin: 6px;
  border: 1px solid #ffffff;
  line-height: 1.5;
}
#mm-typography-menu-container .mm-large {
  line-height: 1.428571429;
  text-align: left;
  margin: 6px;
  border: 1px solid #ffffff;
  line-height: 1.33;
}
#mm-typography-menu-container .mm-code {
  line-height: 1.428571429;
  text-align: left;
  margin: 6px;
  border: 1px solid #ffffff;
}
#mm-typography-menu-container .mm-typo-line {
  display: flex;
  margin: 3px;
  padding: 3px;
}
#mm-typography-menu-container .mm-typo-line span {
  width: 75px;
  text-align: right;
  margin-right: 3px;
}
#mm-typography-menu-container .mm-typo-line input {
  width: 45px;
  height: 24px;
  border: 0 none;
  padding: 3px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}
#mm-typography-menu-container #mm-typo-three {
  margin: 0;
  padding: 0;
}
#mm-typography-menu-container #mm-typo-font-base input,
#mm-typography-menu-container #mm-typo-font-code input {
  width: 420px;
  text-align: left;
}
/* ----------------------------------------------------------------------------
 * page default
 * ---------------------------------------------------------------------------- */
#mm-content {
  margin: 20px;
  padding: 20px;
}
