/* ----------------------------------------------------------------------------
 * main menu, draggable, displays in the middle of the page
 * ---------------------------------------------------------------------------- */
#mm-menu-main {
  position: fixed;
  top: 100px;
  left: 100px;
  font: normal 12px "Helvetica Neue", sans-serif;
  line-height: 18px;
  font-weight: bolder;
  text-align: center;
  color: #ffffff;
  background-color: #333344;
  margin: 0;
  border: 0;
  padding: 0;
  z-index: 1000;
}
#mm-menu-main ul {
  display: block;
  list-style-type: none;
  height: 33px;
  margin: 0;
  padding: 3px 0 0 3px;
}
#mm-menu-main ul li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0 3px 3px 0;
}
/* ----------------------------------------------------------------------------
 * buttons
 * ---------------------------------------------------------------------------- */
.mm-menu-title {
  display: block;
  height: 30px;
  width: 366px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}
.mm-menu-title:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: context-menu;
}
.mm-long-button {
  display: block;
  height: 30px;
  width: 120px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}
.mm-long-button:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: context-menu;
}
.mm-short-button {
  display: block;
  height: 30px;
  width: 30px;
  padding: 6px;
  color: #ffffff;
  background-color: #555566;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}
.mm-short-button:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: context-menu;
}
#mm-menu-drag {
  cursor: move;
}
#mm-menu-help {
  cursor: help;
}
#mm-menu-close {
  cursor: pointer;
}
/* ----------------------------------------------------------------------------
 * drop down menus
 * ---------------------------------------------------------------------------- */
#mm-menu-file-down {
  position: absolute;
  left: 0px;
  top: 33px;
  width: 126px;
  color: #ffffff;
  background-color: #333344;
  z-index: 1000;
  display: none;
}
#mm-menu-color-down {
  position: absolute;
  left: 123px;
  top: 33px;
  width: 126px;
  color: #ffffff;
  background-color: #333344;
  z-index: 1000;
  display: none;
  left: 0;
  width: 372px;
}
#mm-menu-color-down #mm-color-light-100,
#mm-menu-color-down #mm-color-light-50,
#mm-menu-color-down #mm-color-light-0 {
  text-align: center;
  margin: 0;
  border: 0;
  padding: 0 30px;
}
#mm-menu-color-down .mm-long-button {
  margin-top: 3px;
}
#mm-menu-font-down {
  position: absolute;
  left: 246px;
  top: 33px;
  width: 126px;
  color: #ffffff;
  background-color: #333344;
  z-index: 1000;
  display: none;
}
.mm-preview {
  height: 30px;
  text-align: center;
  margin: 3px 6px;
  border: 1px solid #ffffff;
  padding: 3px 6px;
}
/* ----------------------------------------------------------------------------
 * color pickers
 * ---------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------
 * rest of the page
 * ---------------------------------------------------------------------------- */
#mm-content {
  margin: 20px;
  padding: 20px;
}
