// colors
@mm-color-background: #334;
@mm-color-background-button: #556;
@mm-color-background-hover: #000;
@mm-color-text: #fff;
@mm-color-text-hover: #fff;

// button sizes
@mm-width-color: 200px;
@mm-width-pointer: 30px;
@mm-height-all: 40px;
@mm-between-all: 5px;

// text
@mm-height-line: @mm-height-all - 2 * @mm-between-all;
@mm-height-font: (@mm-height-all / 2);



#mm-color-container {
  position: fixed;
  top: 100px;
  left: 100px;

  font: normal @mm-height-font "Helvetica Neue", sans-serif;
  line-height: @mm-height-line;
  font-weight: bolder;
  text-align: center;
  color: @mm-color-text;
  background-color: @mm-color-background;

  .mm-color-line {
    margin: @mm-between-all;

    .mm-color-view {
      display: inline-block;
      width: @mm-width-color;
      height: @mm-height-all;
      padding: @mm-between-all;
    } // .mm-color-view

    .mm-pointer {
      display: inline-block;
      width: @mm-width-pointer;
      height: @mm-height-all;
      padding: @mm-between-all;
      transition: 200;
      font-size: ;

      &:hover {
        cursor: pointer;
        transform: rotateY(180deg);
      }
    } // .mm-pointer
  } // .mm-color-line

#mm-color-edit-1 .mm-color-view { background-color: #369; }
#mm-color-edit-2 .mm-color-view { background-color: #639; }
#mm-color-edit-3 .mm-color-view { background-color: #396; }

} // #mm-color-container


