// colors
@color-text: #fff;
@color-background: #223;
@color-background-button: #556;
@color-background-info: #334;
@color-text-inverse: #000;
@color-background-inverse: #ccd;

// base sizes
@base-height: 30px;
@base-width: 30px;
@base-separate: 3px;

// sizes
@width-all: 24*@base-width;


/* ----------------------------------------------------------------------------
 * mixins
 * ---------------------------------------------------------------------------- */

.container-mixin() {
  width: @width-all;
  color: @color-text;
  background-color: @color-background;

  font-style: "Helvetica", sans-serif;
  font-size: @base-height - 5*@base-separate;
  line-height: @base-height - 2*@base-separate;
  font-weight: normal;

  margin: 0;
  padding: @base-separate 0;
}

.line-mixin () {
  display: flex;
  margin: @base-separate @base-separate @base-separate 2*@base-separate;
}

.title-mixin() {
  display: block;
  height: @base-height;
  width: @width-all - @base-separate;

  font-size: @base-height - 4*@base-separate;
  font-weight: bold;
  text-align: center;

  margin: 0 @base-separate 0 0;
  border: 0;
  padding: @base-separate;

  color: @color-text-inverse;
  background-color: @color-background-inverse;
}

.button-mixin(@wf) {
  display: block;
  height: @base-height;
  width: @base-width * @wf - @base-separate;

  font-style: "Helvetica", sans-serif;
  font-size: @base-height - 5*@base-separate;
  line-height: @base-height - 2*@base-separate;
  font-weight: bold;
  text-align: center;

  margin: 0 @base-separate 0 0;
  border: 0;
  padding: @base-separate;

  color: @color-text;
  background-color: @color-background-button;
  opacity: 1;

  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;

  cursor: pointer;

  &:hover {
    background-color: lighten(@color-background-button, 20%);
  }

  &[clicked=true] {
    color: @color-text-inverse;
    background-color: @color-background-inverse;
  }
}

.select-mixin(@wf) {
  height: @base-height;
  width: @base-width * @wf - @base-separate;
  color: @color-text;
  background-color: @color-background-button;
  border: 1px solid;
  border-radius: 0;
  cursor: pointer;
}

.label-mixin(@wf) {
  display: block;
  height: @base-height;
  width: @base-width * @wf - @base-separate;

  font-style: "Helvetica", sans-serif;
  font-size: @base-height - 5 * @base-separate;
  line-height: @base-height - 2 * @base-separate;
  font-weight: normal;
  text-align: right;

  margin: 0 @base-separate 0 0;
  border: 0;
  padding: @base-separate @base-separate*2;
}

.info-mixin(@wf) {
  .label-mixin(@wf);
  text-align: left;
  font-weight: bold;
  background-color: @color-background-info;
}

.edit-mixin() {
  border:none;
  outline:none;
}


/* ----------------------------------------------------------------------------
 * main title
 * ---------------------------------------------------------------------------- */
#main-title-container {
  .container-mixin();
  padding: @base-separate 0 0 0;

  .title-line {
    .line-mixin();
    margin: @base-separate @base-separate 0 2*@base-separate;

    .label {
      .label-mixin(12);
      font-weight: bold;
    }

    .version {
      .label-mixin(11);
      text-align: left;
    }

    .help {
      .button-mixin(1);
    }
  }
}


/* ----------------------------------------------------------------------------
 * main menu
 * ---------------------------------------------------------------------------- */
#main-menu-container {
  .container-mixin();

  .menu-line {
    .line-mixin();

    .menu-button{
      .button-mixin(6);
    }
  }
}


/* ----------------------------------------------------------------------------
 * file menu
 * ---------------------------------------------------------------------------- */
#file-menu-container {
  .container-mixin();

  .title-line {
    .line-mixin();

    .title {
      .title-mixin();
    }
  }

  .buttons-line {
    .line-mixin();

    .button{
      .button-mixin(6);
    }
  }
}


/* ----------------------------------------------------------------------------
 * choose base color
 * ---------------------------------------------------------------------------- */
#base-menu-container {
  .container-mixin();

  .title-line {
    .line-mixin();

    .title {
      .title-mixin();
    }
  }

  .buttons-line {
    .line-mixin();

    .button{
      .button-mixin(6);
    }
  }
}


/* ----------------------------------------------------------------------------
 * choose brand color
 * ---------------------------------------------------------------------------- */
#brand-menu-container {
  .container-mixin();

  .title-line {
    .line-mixin();

    .title {
      .title-mixin();
    }
  }

  .buttons-line {
    .line-mixin();

    .button{
      .button-mixin(6);
    }
  }
}


/* ----------------------------------------------------------------------------
 * choose typography
 * ---------------------------------------------------------------------------- */
#typo-menu-container {
  .container-mixin();

  .title-line {
    .line-mixin();

    .title {
      .title-mixin();
    }
  }

  .choose-font-line {
    .line-mixin();

    .label {
      .label-mixin(4);
    }

    .button-base,
    .button-code {
      .button-mixin(8);
    }
  }

  .parameters-line {
    .line-mixin();

    .label-fs {
      .label-mixin(4);
    }
    .label-pd {
      .label-mixin(4);
    }
    .label-br {
      .label-mixin(4);
    }

    .info {
      .info-mixin(2);
    }

    .button-fs,
    .button-pd,
    .button-br {
      .button-mixin(1);
    }
  }

  .examples-line {
    .line-mixin();

    .label {
      .label-mixin(4);
    }

    div {
      width: 20*@base-width - @base-separate;
      border: solid 1px;
      margin: @base-separate;
      span {
        .edit-mixin();
      }
    }
  }

  .buttons-line {
    .line-mixin();

    .button{
      .button-mixin(6);
    }
  }
}


/* ----------------------------------------------------------------------------
 * choose font
 * ---------------------------------------------------------------------------- */
#choose-font-container {
  .container-mixin();

  .title-line {
    .line-mixin();

    .title {
      .title-mixin();
    }
  }

  .select-line {
    .line-mixin();

    .label {
      .label-mixin(3);
    }

    select {
      .select-mixin(9);
    }
  }

  .family-line {
    .line-mixin();

    .family {
      .button-mixin(6);
    }

    .example {
      .edit-mixin();
      font-size: @base-height - 2*@base-separate;
      line-height: @base-height;
      padding: 0 2*@base-separate;
    }
  }

  .paginator-line {
    .line-mixin();

    .label {
      .label-mixin(6);
    }

    .button {
      .button-mixin(3);
    }

    .label-pp {
      .label-mixin(4);
    }

    .button-pp {
      .button-mixin(1);
    }
  }

  .example-line {
    .line-mixin();

    .label {
      .label-mixin(6);
    }

    .label-sel {
      .info-mixin(9);
    }

    .button-bold,
    .button-italic {
      .button-mixin(1.5);
    }

    .label-fs {
      .label-mixin(4);
    }

    .button-fs {
      .button-mixin(1);
    }

    #example-edit {
      .edit-mixin();
      padding: 0 2*@base-separate;
      line-height: 1.2;
    }
  }

  .buttons-line {
    .line-mixin();

    .button {
      .button-mixin(6);
    }
  }
} // #choose-font-container

