// colors
@mm-color-background: #334;
@mm-color-background-button: #556;
@mm-color-background-hover: #000;
@mm-color-text: #fff;
@mm-color-text-hover: #fff;
// sizes
@mm-width-color: 200px;
@mm-width-pointer: 30px;
@mm-width-button: 120px;
@mm-height: 30px;
@mm-separate: 3px;
// text
@mm-height-line: @mm-height * 6 / 10;
@mm-height-font: @mm-height * 4 / 10;

/* ----------------------------------------------------------------------------
 * main menu, draggable, displays in the middle of the page
 * ---------------------------------------------------------------------------- */
#mm-menu-main {
  //display: none;
  position: fixed;
  top: 20px;
  left: 100px;

  font-style: "Helvetica Neue", sans-serif;
  font-size: @mm-height - 5 * @mm-separate;
  line-height: @mm-height - 2 * @mm-separate;
  font-weight: bolder;
  text-align: center;

  color: @mm-color-text;
  background-color: @mm-color-background;

  margin: 0;
  border: 0;
  padding: 0;

  z-index: 1000;

  ul {
    display: block;
    list-style-type: none;
    height: @mm-height + @mm-separate;
    margin: 0;
    padding: @mm-separate 0 0 @mm-separate;

    li {
      display: inline;
      float: left;
      margin: 0;
      padding: 0 @mm-separate @mm-separate 0;
    }
  }
}

/* ----------------------------------------------------------------------------
 * buttons
 * ---------------------------------------------------------------------------- */
.mm-button-mixin(@width) {
  display: block;
  height: @mm-height;
  width: @width;
  padding: 2 * @mm-separate;
  color: @mm-color-text;
  background-color: @mm-color-background-button;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: @mm-color-text-hover;
    background-color: @mm-color-background-hover;
    cursor: context-menu;
  }
}

.mm-menu-title {
  .mm-button-mixin( 3 * @mm-width-button + 2 * @mm-separate );
}

.mm-long-button {
  .mm-button-mixin( @mm-width-button );
}

.mm-short-button {
  .mm-button-mixin( @mm-height );
}

// preveri, ce vse te spodaj rabis
#mm-menu-drag { cursor: move; }
#mm-menu-help { cursor: help; }
#mm-menu-close { cursor: pointer; }

/* ----------------------------------------------------------------------------
 * drop down menus
 * ---------------------------------------------------------------------------- */
.mm-menu-down-mixin (@menu-number) {
  position: absolute;
  left: @menu-number * @mm-width-button + @menu-number * @mm-separate;
  top: @mm-height + @mm-separate;
  width: @mm-width-button  + 2 * @mm-separate;

  color: @mm-color-text;
  background-color: @mm-color-background;

  display: none;
}

#mm-menu-file-down {
  .mm-menu-down-mixin(0);
}

#mm-menu-color-down {
  .mm-menu-down-mixin(1);

  //left: @mm-height + @mm-separate;
  left: 0;
  // width: 3 * @mm-width-button  + 4 * @mm-separate;
  width: 2 * @mm-width-color + 4 * @mm-width-pointer;
  
  .mm-long-button {
    margin-top: @mm-separate;
  }
} // #mm-menu-color-down

#mm-menu-font-down {
  .mm-menu-down-mixin(2);
}

/* ----------------------------------------------------------------------------
 * color edit menu
 * ---------------------------------------------------------------------------- */
#mm-color-menu-container {
//  position: fixed;
//  top: 10px;
//  left: 100px;

  //font-style: "Helvetica Neue", sans-serif;
  //font-size: @mm-height - 5 * @mm-separate;
  //line-height: @mm-height - 2 * @mm-separate;
  color: @mm-color-text;
  background-color: @mm-color-background;
  font-weight: normal;
  
  .mm-color-line {
    display: flex;
    margin: @mm-separate;

    .mm-color-view {
      width: @mm-width-color;
      height: @mm-height;
      border: 0;
      padding: @mm-separate;
    } // .mm-color-view

    .mm-pointer {
      width: @mm-width-pointer;
      height: @mm-height;
      padding: @mm-separate;
      text-align: left;
      line-height: @mm-height - 2 * @mm-separate;
      font-size: @mm-height;

      &:hover {
        cursor: pointer;
      }

      &[slider] {
        transform: rotateY(180deg);
      }
    } // .mm-pointer

    .cp-container {
      padding: @mm-separate;
      margin: 0px 20px;
      .cp-sliderbutton {
        height: @mm-height - 2 * @mm-separate;
      }
      .cp-slider {
        width: @mm-width-color;
        height: @mm-height - 2 * @mm-separate;
      }
    } // .cp-container

  } // .mm-color-line

} // #mm-color-menu-container

/* ----------------------------------------------------------------------------
 * page default
 * ---------------------------------------------------------------------------- */
#mm-content{
  margin: 20px;
  padding: 20px;
}



