// colors
@mm-color-text: #fff;
@mm-color-text-selected: #000;
@mm-color-background: #334;
@mm-color-background-button: #556;

// sizes
@mm-width-color: 180px;
@mm-width-slider: 270px;
@mm-width-button: 120px;
@mm-width-midi-button: 80px;
@mm-width-short-button: 18px;
@mm-height: 30px;
@mm-separate: 3px;

@mm-width-typo-span: 75px;
@mm-width-typo-span-br: 116px;
@mm-width-typo-input: 45px;
@mm-width-typo-input-font: 465px;

/* ----------------------------------------------------------------------------
 * main menu, draggable, displays in the middle of the page
 * ---------------------------------------------------------------------------- */
#mm-menu-main {
  position: fixed;
  top: 2px;
  left: 2px;

  font-style: "Helvetica Neue", sans-serif;
  font-size: @mm-height - 5 * @mm-separate;
  line-height: @mm-height - 2 * @mm-separate;
  font-weight: bolder;
  text-align: center;

  color: @mm-color-text;
  background-color: @mm-color-background;

  margin: 0;
  border: 0;
  padding: 0;

  z-index: 1000;

  ul {
    display: block;
    list-style-type: none;
    height: @mm-height + @mm-separate;
    margin: 0;
    padding: @mm-separate 0 0 @mm-separate;

    li {
      display: inline;
      float: left;
      margin: 0;
      padding: 0 @mm-separate @mm-separate 0;
    }
  }
}

/* ----------------------------------------------------------------------------
 * custom popup to show more info about color
 * ---------------------------------------------------------------------------- */
.mm-color-view-popup {
  position: fixed;
  width: @mm-width-slider + @mm-width-button;

  font-style: "Helvetica Neue", sans-serif;
  font-size: @mm-height - 5 * @mm-separate;
  line-height: @mm-height - 2 * @mm-separate;
  font-weight: normal;
  text-align: left;

  margin: 0;
  border: @mm-separate solid;
  padding: @mm-separate  2 * @mm-separate;

  z-index: 1100;

  &:hover {
    cursor: pointer;
  }
}

/* ----------------------------------------------------------------------------
 * custom popup to show more info about color
 * ---------------------------------------------------------------------------- */
.mm-help-popup {
  position: fixed;
  width: @mm-width-slider + @mm-width-button;

  font-style: "Helvetica Neue", sans-serif;
  font-size: @mm-height - 5 * @mm-separate;
  line-height: @mm-height - 2 * @mm-separate;
  font-weight: normal;
  text-align: left;
  color: @mm-color-text;
  background-color: @mm-color-background;

  margin: 0;
  border: @mm-separate solid;
  padding: @mm-separate  2 * @mm-separate;

  z-index: 1100;

  cursor: pointer;
}

/* ----------------------------------------------------------------------------
 * buttons
 * ---------------------------------------------------------------------------- */
.mm-button-mixin(@width) {
  display: block;
  height: @mm-height;
  width: @width;
  padding: 2 * @mm-separate;
  color: @mm-color-text;
  background-color: @mm-color-background-button;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: lighten(@mm-color-background-button, 20%);
  }
}

.mm-menu-title {
  .mm-button-mixin( 4 * ( @mm-width-button + @mm-separate ) - @mm-width-short-button - 2 * @mm-separate );
  background-color: @mm-color-background;
  cursor: move;
}

.mm-menu-help {
  .mm-button-mixin( @mm-width-short-button );
  cursor: help;
}

.mm-menu-top {
  .mm-button-mixin( @mm-width-button );
  cursor: context-menu;
}

.mm-long-button {
  .mm-button-mixin( @mm-width-button );
  cursor: pointer;
}

.mm-midi-button {
  .mm-button-mixin( @mm-width-midi-button );
  cursor: pointer;
}

.mm-button-minus,
.mm-button-plus {
  .mm-button-mixin(@mm-width-short-button);
  height: @mm-height - 2 * @mm-separate;
  line-height: @mm-height - 5 * @mm-separate;
  margin: 0;
  border: 1px solid @mm-color-text;
  padding: @mm-separate;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}


/* ----------------------------------------------------------------------------
 * drop down menus
 * ---------------------------------------------------------------------------- */
#mm-menu-file-down,
#mm-menu-color-down,
#mm-menu-brand-down,
#mm-menu-fonts-down,
#mm-menu-choose-font-down {
  position: absolute;
  left: 0;
  top: @mm-height + @mm-separate;
  width: 5 * @mm-width-short-button + @mm-width-color + @mm-width-slider + 9 * @mm-separate;

  color: @mm-color-text;
  background-color: @mm-color-background;

  display: none;

  .mm-down-title {
    color: @mm-color-background;
    background-color: darken(@mm-color-text, 20%);
    border: @mm-separate solid @mm-color-background;
    font-weight: bolder;
  }

  .mm-long-button {
    margin-top: @mm-separate;
  }
}

/* ----------------------------------------------------------------------------
 * color and brand edit menu
 * ---------------------------------------------------------------------------- */
#mm-color-menu-container,
#mm-brand-menu-container {
  color: @mm-color-text;
  background-color: @mm-color-background;
  font-weight: normal;
  margin: 3 * @mm-separate  2 * @mm-separate  0  2 * @mm-separate;

  .mm-color-line {
    display: flex;
    margin: @mm-separate;

    .mm-color-H,
    .mm-color-S,
    .mm-color-L {
      .mm-button-mixin(@mm-width-short-button);
      font-weight: bolder;
      margin: 0 @mm-separate 0 0;
      border: 0;
      padding: @mm-separate;

      &:hover {
        background-color: lighten(@mm-color-background-button, 20%);
        cursor: pointer;
      }

      &[show-slider] {
        background-color: @mm-color-text;
        color: @mm-color-text-selected;
      }

      &[show-slider]:hover {
        background-color: darken(@mm-color-text, 20%);
      }
    } // mm-color-H, S, L

    .mm-color-view {
      width: @mm-width-color;
      height: @mm-height;
      border: 0;
      padding: @mm-separate;

      &:hover {
        cursor: pointer;
      }
    } // .mm-color-view

    .cp-container {
      width: @mm-width-slider;
      padding: @mm-separate;
      margin: 0px @mm-width-short-button;

      .cp-slider {
        height: @mm-height - 2 * @mm-separate;
        margin: 0;
      }

      .cp-sliderbutton {
        .mm-button-mixin(@mm-width-short-button);
        height: @mm-height - 2 * @mm-separate;
        line-height: @mm-height - 5 * @mm-separate;
        margin: 0;
        border: 1px solid;
        padding: @mm-separate;
      }

      .cp-sliderbutton-minus {
        left: -@mm-width-short-button;
      }

      .cp-sliderbutton-plus {
        left: @mm-width-short-button;
      }
    } // .cp-container

  } // .mm-color-line

} // #mm-color-menu-container


/* ----------------------------------------------------------------------------
 * typography
 * ---------------------------------------------------------------------------- */
#mm-typography-menu-container {
  color: @mm-color-text;
  background-color: @mm-color-background;
  font-weight: normal;
  margin: 2 * @mm-separate  @mm-separate  0  @mm-separate;
  padding: @mm-separate;

  .mm-base-mixin() {
    //font-family: @font-family-base;
    line-height: 1.428571429; // 20/14
    text-align: left;
    margin: 2 * @mm-separate;
    border: 1px solid @mm-color-text;
  }

  .mm-base {
    .mm-base-mixin();
  }

  .mm-small {
    .mm-base-mixin();
    line-height: 1.5;
  }

  .mm-large {
    .mm-base-mixin();
    line-height: 1.33;
  }

  .mm-code {
    .mm-base-mixin();
    //font-family: @font-family-monospace;
  }

  .mm-typo-line {
    display: flex;
    margin: @mm-separate;
    padding: @mm-separate;

    span {
      width: @mm-width-typo-span;
      text-align: right;
      margin-right: @mm-separate;
    }

    input {
      width: @mm-width-typo-input;
      height: @mm-height - 2 * @mm-separate;
      border: 0 none;
      padding: @mm-separate;
      background-color: @mm-color-text;
      color: @mm-color-text-selected;
      text-align: center;
    }

    .mm-midi-button {
      font-weight: bolder;
      height: @mm-height - 2 * @mm-separate;
      margin: 0;
      padding: 0;
    }
  } // .mm-typo-line

  #mm-typo-three {
    margin: 0;
    padding: 0;
  }

  #mm-typo-font-base,
  #mm-typo-font-code {
    input {
      width: @mm-width-typo-input-font - @mm-width-midi-button;
      text-align: left;
      &:hover {
        background-color: darken(@mm-color-text, 20%);
        cursor: pointer;
      }
    }
  }

  #mm-typo-example {
    input {
      width: @mm-width-typo-input-font;
      text-align: left;
    }
  }

  #mm-typo-border-radius {
    span {
      width: @mm-width-typo-span-br;
    }
  }

} // #mm-typography-menu-container


/* ----------------------------------------------------------------------------
 * choose font
 * ---------------------------------------------------------------------------- */
#mm-choose-font-menu-container {
  color: @mm-color-text;
  background-color: @mm-color-background;
  font-weight: normal;
  margin: 2 * @mm-separate  @mm-separate  0  @mm-separate;
  padding: @mm-separate;

  .mm-font-line {
    display: flex;
    margin: 0;
    padding: @mm-separate 0 0 @mm-separate;

    span {
      width: @mm-width-typo-span;
      text-align: right;
      margin-right: @mm-separate;
    }

    .mm-font-category {
      .mm-button-mixin( 90px );
      height: @mm-height - 2 * @mm-separate;
      margin: 0 @mm-separate @mm-separate 0;
      padding: 0;
      cursor: pointer;

      &[selected-category] {
        background-color: @mm-color-text;
        color: @mm-color-text-selected;
      }

      &[selected-category]:hover {
        background-color: darken(@mm-color-text, 20%);
      }
    }

    #mm-font-family-display,
    #mm-font-example-text,
    #mm-font-family-count-display,
    #mm-font-example-size-display,
    #mm-font-family-first-last {
      height: @mm-height - 2 * @mm-separate;
      margin: 0 @mm-separate @mm-separate 0;
      border: 0;
      padding: 0;
      text-align: center;
      background-color: @mm-color-text;
      color: @mm-color-text-selected;
    }

    #mm-font-family-display {
      width: 304px;
    }

    #mm-font-family-first-last {
      width: 212px;
    }
    #mm-font-example-text {
      padding: 0 @mm-separate;
      width: 470px;
    }

    .mm-font-family-goto {
      .mm-button-mixin( 60px );
      height: @mm-height - 2 * @mm-separate;
      margin: 0 @mm-separate @mm-separate 0;
      padding: 0;
      cursor: pointer;
    }

    .mm-font-family-count,
    .mm-font-example-size {
      .mm-button-mixin( @mm-width-short-button );
      height: @mm-height - 2 * @mm-separate;
      margin: 0 @mm-separate @mm-separate 0;
      padding: 0;
      cursor: pointer;
    }

  } // .mm-typo-line

  #mm-font-example-display {
    line-height: 1.2;
    text-align: left;
    padding: @mm-separate ;
  }

  #mm-font-family-list {
    .mm-font-family {
      .mm-button-mixin( 120px );
      height: @mm-height - 2 * @mm-separate;
      margin: 0 @mm-separate @mm-separate 0;
      padding: 0 @mm-separate;
      cursor: pointer;

      &[selected-category] {
        background-color: @mm-color-text;
        color: @mm-color-text-selected;
      }

      &[selected-category]:hover {
        background-color: darken(@mm-color-text, 20%);
      }
    }

    .mm-font-family-example {
      width: 500px;
      text-align: left;
    }
  }

} // #mm-choose-font-menu-container

/* ----------------------------------------------------------------------------
 * page default
 * ---------------------------------------------------------------------------- */
#mm-content{
  margin: 20px;
  padding: 20px;
}




