// colors
@mm-color-text: #fff;
@mm-color-background: #334;
@mm-color-background-button: #556;
@mm-color-background-hover: #000;

// sizes
@mm-width-color: 240px;
@mm-width-button: 120px;
@mm-width-short-button: 18px;
@mm-height: 30px;
@mm-separate: 3px;
// text (not used, because lines are flex)
// @mm-height-line: @mm-height * 6 / 10;
// @mm-height-font: @mm-height * 4 / 10;

/* ----------------------------------------------------------------------------
 * main menu, draggable, displays in the middle of the page
 * ---------------------------------------------------------------------------- */
#mm-menu-main {
  position: fixed;
  top: 2px;
  left: 2px;

  font-style: "Helvetica Neue", sans-serif;
  font-size: @mm-height - 5 * @mm-separate;
  line-height: @mm-height - 2 * @mm-separate;
  font-weight: bolder;
  text-align: center;

  color: @mm-color-text;
  background-color: @mm-color-background;

  margin: 0;
  border: 0;
  padding: 0;

  z-index: 1000;

  ul {
    display: block;
    list-style-type: none;
    height: @mm-height + @mm-separate;
    margin: 0;
    padding: @mm-separate 0 0 @mm-separate;

    li {
      display: inline;
      float: left;
      margin: 0;
      padding: 0 @mm-separate @mm-separate 0;
    }
  }
}

/* ----------------------------------------------------------------------------
 * buttons
 * ---------------------------------------------------------------------------- */
.mm-button-mixin(@width) {
  display: block;
  height: @mm-height;
  width: @width;
  padding: 2 * @mm-separate;
  color: @mm-color-text;
  background-color: @mm-color-background-button;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: lighten(@mm-color-background-button, 20%);
  }
}

.mm-menu-title {
  .mm-button-mixin( 3 * @mm-width-button + 2 * @mm-separate );
}

.mm-long-button {
  .mm-button-mixin( @mm-width-button );
  &:hover {
    cursor: context-menu;
  }
}

.mm-short-button {
  .mm-button-mixin( @mm-width-short-button );
}

// preveri, ce vse te spodaj rabis
#mm-menu-drag { cursor: move; }
#mm-menu-help { cursor: help; }
#mm-menu-close { cursor: pointer; }

/* ----------------------------------------------------------------------------
 * drop down menus
 * ---------------------------------------------------------------------------- */
.mm-menu-down-mixin (@menu-number) {
  position: absolute;
  left: @menu-number * @mm-width-button + @menu-number * @mm-separate;
  top: @mm-height + @mm-separate;
  width: @mm-width-button  + 2 * @mm-separate;

  color: @mm-color-text;
  background-color: @mm-color-background;

  display: none;
}

#mm-menu-file-down {
  .mm-menu-down-mixin(0);
}

#mm-menu-color-down {
  .mm-menu-down-mixin(1);
  left: 0;
  width: 5 * @mm-width-short-button + 2 * @mm-width-color + 9 * @mm-separate;

  .mm-long-button {
    margin-top: @mm-separate;
  }
} // #mm-menu-color-down

#mm-menu-font-down {
  .mm-menu-down-mixin(2);
}

/* ----------------------------------------------------------------------------
 * color edit menu
 * ---------------------------------------------------------------------------- */
#mm-color-menu-container {
  color: @mm-color-text;
  background-color: @mm-color-background;
  font-weight: normal;
  margin: 3 * @mm-separate  2 * @mm-separate  0  2 * @mm-separate;

  .mm-color-line {
    display: flex;
    margin: @mm-separate;

    .mm-color-H,
    .mm-color-S,
    .mm-color-L {
      .mm-button-mixin(@mm-width-short-button);
      font-weight: bolder;
      margin: 0 @mm-separate 0 0;
      border: 0;
      padding: @mm-separate;

      &:hover {
        background-color: lighten(@mm-color-background-button, 20%);
        cursor: pointer;
      }

      &[show-slider] {
        background-color: @mm-color-text;
        color: contrast(@mm-color-text);
      }

      &[show-slider]:hover {
        background-color: darken(#fff, 20%);
      }
    } // mm-color-H, S, L

    .mm-color-view {
      width: @mm-width-color;
      height: @mm-height;
      border: 0;
      padding: @mm-separate;
    } // .mm-color-view

    .cp-container {
      width: @mm-width-color;
      padding: @mm-separate;
      margin: 0px @mm-width-short-button;

      .cp-slider {
        // width: @mm-width-color;
        height: @mm-height - 2 * @mm-separate;
        margin: 0;
      }

      .cp-sliderbutton {
        .mm-button-mixin(@mm-width-short-button);
        height: @mm-height - 2 * @mm-separate;
        line-height: @mm-height - 4 * @mm-separate;
        margin: 0;
        border: 1px solid;
        padding: @mm-separate;
      }

      .cp-sliderbutton-minus {
        left: -@mm-width-short-button;
      }

      .cp-sliderbutton-plus {
        left: @mm-width-short-button;
      }
    } // .cp-container

  } // .mm-color-line

} // #mm-color-menu-container

/* ----------------------------------------------------------------------------
 * page default
 * ---------------------------------------------------------------------------- */
#mm-content{
  margin: 20px;
  padding: 20px;
}



